<a href="https://colab.research.google.com/github/vansh1104/Bootcamp/blob/Google-Colab/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def intro(name,age,city,state):
  return name,age,city,state

name1=input("Enter your name:")
age1=int(input("Enter your age:"))
city1=input("Enter your city:")
state1=input("Enter your state:")

name2,age2,city2,state2=intro(name1,age1,city1,state1)

print("My name is {0} \t,my city is {1} \t , my age is {2} , my state is {3}".format(name2,city2,age2,state2))

Enter your name:Vansh
Enter your age:17
Enter your city:h
Enter your state:u
My name is Vansh 	 , my city is h 	 , my age is 17 , my state is u

In [ ]:
#*args
def addition(*numbers):
  sum=0
  for i in numbers:
    sum=sum+i
  return sum

result=addition(10,20,30,40,50,60)
print("the sum is equal to \t{0}".format(result))

the sum is equal to 	210

In [ ]:
def additionsusers(list):
  sum=0
  for i in list:
    sum+=i
  return sum

limit=int(input("Enter the limit"))

empty=[]
for i in range(0,limit):
  val=int(input("enter value"))
  empty.append(val)

result= additionsusers(empty)

print( "here is the result \t {0}".format(result))

Enter the limit3
enter value10
enter value20
enter value30
here is the result 	 60

****kwargs**

In [ ]:
def keywords(**values):
  for i,j in values.items():
    print('{0}={1}'.format(i,j))
keywords(name='Vansh',age=17,state='UK')

name=Vansh
age=17
state=UK

In [ ]:
def variables(list):
  for i in list:
    print(i+5)
=variables([5,10,15,20,25])

10
15
20
25
30

In [ ]:
def faltu(x):
  return (x+"haa bhai")

In [ ]:
v= lambda x:faltu(x)
print(v("vansh"))

vanshhaa bhai

In [ ]:
age=int(input("Enter your age"))
mn=int(input("Enter your magic number"))
x= lambda age:age+mn
x(age)

Enter your age17
Enter your magic number3

20

In [ ]:
com1= 2+3j
com2= 3+2j

print("addition=",com1+com2)
print("difference is",com1-com2)
print("product is",com1*com2)
print("division is",com1/com2)

addition= (5+5j)
difference is (-1+1j)
product is 13j
division is (0.9230769230769231+0.38461538461538464j)

In [ ]:
sent="vansh"

In [ ]:
sent.

In [ ]:
a="Russians are the scarriest white people"
v=a.split(' ')
print(v)

['Russians', 'are', 'the', 'scarriest', 'white', 'people']

In [ ]:
l=[3.14,2.3,5,6,'vansh','anant']
b=l+v
print(b)

[3.14, 2.3, 5, 6, 'vansh', 'anant', 'Russians', 'are', 'the', 'scarriest', 'white', 'people']

In [ ]:
len(b)

12

In [ ]:
for i in b:
  print("{0} is the value, {1} is the datatype".format(i,type(i)))

3.14 is the value, <class 'float'> is the datatype
2.3 is the value, <class 'float'> is the datatype
5 is the value, <class 'int'> is the datatype
6 is the value, <class 'int'> is the datatype
vansh is the value, <class 'str'> is the datatype
anant is the value, <class 'str'> is the datatype
Russians is the value, <class 'str'> is the datatype
are is the value, <class 'str'> is the datatype
the is the value, <class 'str'> is the datatype
scarriest is the value, <class 'str'> is the datatype
white is the value, <class 'str'> is the datatype
people is the value, <class 'str'> is the datatype

In [ ]:
m=[1,2,3,4,5]
b.reverse()
b

[5,
 4,
 3,
 2,
 1,
 3,
 3,
 'white',
 'scarriest',
 'the',
 'are',
 'Russians',
 'anant',
 'vansh',
 75,
 6,
 5,
 3.14,
 2.3]

In [ ]:
l=[2,4,5,3,1]
l.reverse()
l

[1, 3, 5, 4, 2]

In [ ]:
vansh=["hello","I","am","Jarvis"]
vansh.reverse()
vansh

['Jarvis', 'am', 'I', 'hello']

In [ ]:
a="I am Iron Man"
x=a.split()

In [ ]:
x.sort()
x

['I', 'Iron', 'Man', 'am']

In [ ]:
a=''' What I'm doing is far from “revolutionary” but I don't think it needs to be. I decided to rethink my approach to life (as many of us do) when I began feeling disillusioned and frustrated with the gap between the things that brought  fulfillment in my life and what I felt was being sold to me by society. What am I doing and why am I doing it? I’m drawn to the world of self-improvement, but we don't need any more "gurus." What I'm offering here are my experiences and the insights I’m coming across as I seek to live with more purpose and depth.

We live in an evolving and fast-paced world and I am exploring the habits and tools that will help me lead a meaningful, purpose-filled life (not just making more money or being more productive for productivity’s sakes). '''

In [ ]:
import time
start= time.perf_counter()
b=a.split()
print(b)
stop= time.perf_counter()
print(stop-start)

['What', "I'm", 'doing', 'is', 'far', 'from', '“revolutionary”', 'but', 'I', "don't", 'think', 'it', 'needs', 'to', 'be.', 'I', 'decided', 'to', 'rethink', 'my', 'approach', 'to', 'life', '(as', 'many', 'of', 'us', 'do)', 'when', 'I', 'began', 'feeling', 'disillusioned', 'and', 'frustrated', 'with', 'the', 'gap', 'between', 'the', 'things', 'that', 'brought', 'fulfillment', 'in', 'my', 'life', 'and', 'what', 'I', 'felt', 'was', 'being', 'sold', 'to', 'me', 'by', 'society.', 'What', 'am', 'I', 'doing', 'and', 'why', 'am', 'I', 'doing', 'it?', 'I’m', 'drawn', 'to', 'the', 'world', 'of', 'self-improvement,', 'but', 'we', "don't", 'need', 'any', 'more', '"gurus."', 'What', "I'm", 'offering', 'here', 'are', 'my', 'experiences', 'and', 'the', 'insights', 'I’m', 'coming', 'across', 'as', 'I', 'seek', 'to', 'live', 'with', 'more', 'purpose', 'and', 'depth.', 'We', 'live', 'in', 'an', 'evolving', 'and', 'fast-paced', 'world', 'and', 'I', 'am', 'exploring', 'the', 'habits', 'and', 'tools', 'that', 'will', 'help', 'me', 'lead', 'a', 'meaningful,', 'purpose-filled', 'life', '(not', 'just', 'making', 'more', 'money', 'or', 'being', 'more', 'productive', 'for', 'productivity’s', 'sakes).']
0.0006283059999816487

In [ ]:
st=time.perf_counter()
print(b.count('I'))
toc=time.perf_counter()
print(toc-st)

1
0.0002072970000881469

In [ ]:
s=time.perf_counter()
c=list(set(b))
print(c)
print(c.count('I'))
s2=time.perf_counter()

['us', 'depth.', 'sakes).', "don't", 'that', 'productivity’s', 'it', 'of', 'fulfillment', 'and', 'doing', 'we', 'a', 'self-improvement,', 'more', 'feeling', 'in', 'from', 'lead', 'world', 'live', 'began', 'or', '(as', 'habits', 'across', 'think', 'I’m', 'tools', 'what', '"gurus."', 'purpose', 'the', 'frustrated', 'life', 'approach', "I'm", 'me', 'felt', 'rethink', 'I', 'am', 'drawn', 'society.', 'why', 'be.', 'will', 'just', 'with', 'sold', 'help', 'by', 'any', 'fast-paced', '“revolutionary”', 'decided', 'but', 'is', 'here', 'experiences', 'was', 'productive', 'brought', 'making', 'far', 'when', 'do)', 'What', 'things', 'to', 'are', 'seek', 'being', 'purpose-filled', 'meaningful,', 'disillusioned', 'it?', 'need', 'evolving', 'many', 'between', 'We', 'money', 'my', 'offering', 'as', 'needs', 'exploring', 'for', 'gap', 'an', '(not', 'coming', 'insights']
1

In [ ]:
tup1=tuple(b)
print(tup1)

('us', 'depth.', 'sakes).', "don't", 'that', 'productivity’s', 'it', 'of', 'fulfillment', 'and', 'doing', 'we', 'a', 'self-improvement,', 'more', 'feeling', 'in', 'from', 'lead', 'world', 'live', 'began', 'or', '(as', 'habits', 'across', 'think', 'I’m', 'tools', '"gurus."', 'what', 'purpose', 'the', 'frustrated', 'life', 'approach', "I'm", 'me', 'felt', 'rethink', 'I', 'am', 'drawn', 'society.', 'why', 'be.', 'will', 'just', 'with', 'sold', 'help', 'by', 'any', 'fast-paced', '“revolutionary”', 'decided', 'but', 'is', 'here', 'experiences', 'was', 'productive', 'brought', 'making', 'far', 'when', 'do)', 'What', 'things', 'to', 'are', 'seek', 'being', 'purpose-filled', 'meaningful,', 'disillusioned', 'it?', 'need', 'evolving', 'many', 'between', 'We', 'money', 'my', 'offering', 'as', 'needs', 'exploring', 'for', 'gap', 'an', '(not', 'coming', 'insights')

In [ ]:
print(len(tup1))
print(len(b))

94
94

In [ ]:
tup1.count('I')

1

In [ ]:
tup1.index('is')

57

In [ ]:
print(tup1[57:59])

('is', 'here')

In [ ]:
number=[56,56,1,23,15,1]
for i in number:
  for j in number:
    if(i==j):
      c=number.index(j)
      a=number.pop(c)
      
print(number)

[56, 23]